/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #305c80;
    color: #ddd;
    line-height: 1.6;
}


.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #162A2E;
        padding: 20px;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000; /* Ensures the navbar stays on top of other elements */
        transition: top 0.3s;
}
.navbar.hidden {
    top: -100px; /* Adjust this value based on the height of your navbar */
}

.logo a {
    color: aquamarine;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo a:hover {
    color: red;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links ul li {
    display: inline;
    margin-left: 20px;
}

.nav-links ul li a {
    color: aquamarine;
    text-decoration: none;
}

.nav-links ul li a:hover {
    color: red;
}

.section {
    padding: 50px 20px;
}

.cover-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cover-img:hover {
    /* Add your hover styles here */
    transform: scale(1.05); /* Example of hover effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.blue {
    margin-top: 20px;
    text-align: center;
}

.blue h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: moveText 3s infinite;
}

.blue a {
    color: aquamarine;
    text-decoration: none;
    font-size: 2rem;

}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

.blue a:hover {
    color: red;
}

.para {
    font-size: 1.2rem;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.backend, .frontend {
    margin-top: 50px;
    text-align: center;
}

.backend-img img, .frontend-img img {
    width: 80px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.backend-img img:hover, .frontend-img img:hover  {
    /* Add your hover styles here */
    transform: scale(1.50); /* Example of hover effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.css-img {
    height: 85px;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-linkedin {
    font-size: 50px;
    margin-right: 20px;
    color: skyblue;
}

.fa-facebook {
    font-size: 50px;
    padding-right: 20px;
    color: rgb(87, 87, 241);
}

.fa-github {
    font-size: 50px;
    color: black;
}
